*{
    padding: 0px;
    margin: 0px;
}
html, body{
    border-style: border-box;
    width: 100%;
    overflow-x: hidden;
}
li{
    list-style: none !important;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    height: 54px;
    background-color: rgb(40, 79, 255);
    .hcontainer{
        margin: 0 5%;
        .hflex{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 15px;
            .hlogo{
                width: 40px;
                height: 40px;
                margin-top: -8px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .hnavigation{
                .hnav{
                    display: flex;
                    li{
                        a{
                            padding: 20px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            cursor: pointer;
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: #fff !important;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
            }
            .hcalltoaction{
                li{
                    a{
                        padding: 10px 20px;
                        border-radius: 30px;
                        font-weight: 300;
                        font-size: 1.1rem !important;
                        font-family: 'Roboto', sans-serif;
                        transition: 0.3s;
                        background: linear-gradient(to bottom right,#14a9ff,#0088f0)!important;
                        color: #fff !important;
                    }
                }
            }
        }
    }
}
.breadCrumb{
    height: 50px;
    .breadCrumbContainer{
        margin: 0 5%;
        .breadCrumbFlex{
            display: flex;
            justify-content: space-between;
            .bTrending{
                p{
                    .btrendingnowStatic{

                    }
                    .btrendingnow{

                    }
                }
            }
        }
    }
}
/* media query breakpoints *
* 320px — 480px: Mobile devices
* 481px — 768px: iPads, Tablets
* 769px — 1024px: Small screens, laptops
* 1025px — 1200px: Desktops, large screens
* 1201px and more —  Extra large screens, TV
*/

//iPads, Tablets
@media(max-width: 768px){

}

//iPads, Tablets
@media(max-width: 480px){

}