*{
    padding: 0px;
    margin: 0px;
}
html, body{
    border-style: border-box;
    width: 100%;
    overflow-x: hidden;
}
li{
    list-style: none !important;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    height: 54px;
    background-color: rgb(40, 79, 255);
    .hcontainer{
        margin: 0 5%;
        .hflex{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 15px;
            .hlogo{
                width: 40px;
                height: 40px;
                margin-top: -8px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .hnavigation{
                .hnav{
                    display: flex;
                    li{
                        a{
                            padding: 20px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            cursor: pointer;
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: #fff !important;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
            }
            .hcalltoaction{
                li{
                    a{
                        padding: 10px 20px;
                        border-radius: 30px;
                        font-weight: 300;
                        font-size: 1.1rem !important;
                        font-family: 'Roboto', sans-serif;
                        transition: 0.3s;
                        background: linear-gradient(to bottom right,#14a9ff,#0088f0)!important;
                        color: #fff !important;
                    }
                }
            }
        }
    }
}
.breadCrumb{
    height: 50px;
    .breadCrumbContainer{
        margin: 0 5%;
        .breadCrumbFlex{
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            .bTrending{
                p{
                    font-size: 1.2rem;
                    padding-top: 8px;
                    .btrendingnowStatic{
                        color: #222;
                    }
                    .btrendingnow{
                        color: #222;
                        position: relative;
                        span{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 600px !important;
                        }
                    }
                }
            }
            .bSearch{
                .bSearchForm{
                    .bsgroup{
                        border: 1px solid #222;
                        border-radius: 30px;
                        padding: 10px 20px;
                        input{
                            outline: 0;
                            border: none;
                            background: 0 0;
                        }
                        button{
                            outline: 0;
                            border: none;
                            background: 0 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
.jumbotron{
    .jcontainer{
        margin: 0 5%;
        .jfeeds{
            display: flex;
            gap: 3px;
            margin: 20px 0px;
            height: 500px;
            overflow: hidden;
            .jfeedone{
                width: 50%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    filter: brightness(80%);
                    aspect-ratio: auto 1440 / 500;
                    transition: 0.5s;
                    // -webkit-mask-image: linear-gradient(180deg,rgb(0, 0, 0),transparent);
                    // mask-image: linear-gradient(180deg,rgb(0, 0, 0),transparent);
                    transition: .5s;
                }
                img:hover{
                    opacity: 1;
                    filter: brightness(100%);
                }
                .feedtxt{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 20px;
                    a{
                        color: #fff;
                        font-family: 'Roboto', sans-serif;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }
                    .category-link{
                        padding: 2px 5px;
                        transition: all .3s;
                        color: #fff;
                        border-color: #fff;
                        font-family: Roboto-Regular;
                        font-size: 14px;
                        line-height: 1.2;
                        border: 1px solid #fff;
                    }
                    .category-link:hover{
                        background-color: #17b978;
                        border-color: #17b978;
                        color: #fff;
                    }
                    .jfeedtitle{
                        margin-top: 20px;
                        a{
                            font-size: 30px;
                            line-height: 1.2;
                            cursor: pointer;
                            font-weight: 500;
                            letter-spacing: 1.5px;
                            color: #ffffff;
                            transition: all .3s;
                        }
                        a:hover{
                            color: #17b978;
                        }
                    }
                }
            }
            .jfeedleftflex{
                display: flex;
                flex-direction: column;
                gap: 3px;
                width: 50%;
                .jfeedtwo{
                    height: 50%;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                    }
                    .feedtxt{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 20px;
                        a{
                            color: #fff !important;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
                .jfeedlbflex{
                    display: flex;
                    height: 50%;
                    gap: 3px;
                    .jfeedthree{
                        position: relative;
                        width: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                        .feedtxt{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding: 20px;
                            a{
                                color: #fff !important;
                                font-family: 'Roboto', sans-serif;
                            }
                        }
                    }
                    .jfeedfour{
                        position: relative;
                        width: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                        .feedtxt{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding: 20px;
                            a{
                                color: #fff !important;
                                font-family: 'Roboto', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* media query breakpoints *
* 320px — 480px: Mobile devices
* 481px — 768px: iPads, Tablets
* 769px — 1024px: Small screens, laptops
* 1025px — 1200px: Desktops, large screens
* 1201px and more —  Extra large screens, TV
*/

//iPads, Tablets
@media(max-width: 768px){

}

//iPads, Tablets
@media(max-width: 480px){

}